
.message {
    max-width: 60%;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid #000;
    margin: 1em auto;
    text-align: center;
    border-radius: 6px;
    
}

.sucess {
    color: #155724;
    background-color: #aeffc1;
    border-color: #aeffc1;
}

.error {
    color: #a70515;
    background-color: #fda5ad;
    border-color: #fda5ad;
}