.pet_details_container {
    text-align: center;
    max-width: 1200px;
}

.pet_details_container p {
    margin: 1.5em;
    font-weight: 700;
    color: rgb(0, 0, 107);
}

.pet_details_header {
    margin-bottom: 2em;
}

.pet_details_container button {
    text-decoration: none;
    color: #fbfbfc;
    border: 2px solid #02ac35;
    border-radius: 5px;
    padding: 7px 12px;
    background-color: #02ac35;
    margin-left: 1em;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
    font-weight: bold;
}

.pet_details_container button:hover {
    background-color: rgb(1, 1, 80);
    border: 2px solid rgb(1, 1, 80);
    color: #fff;
  }

.pet_images {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

}

.pet_imges img {
    min-height: 300px;
}

@media (max-width: 1285px) {

    .pet_images {
        min-width: 412px;
        max-width: 1200px;
        margin: 0;
        flex-wrap: wrap;
    }

    .pet_details_container {
        text-align: center;
        max-width: 100%;

    }

    .pet_images img {
        max-width: 98%;
    }

    

}